<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <img src="/images/Smiley_Face.png" alt="">
  <p>
    Welcome to <%= title %>
  </p>
  <% for (let i=0; i < cnt; i++) { %>
    <h6>this is line <%=i%></h6>
    <% } %>
</body>

</html>